.hide {
  display: none;
}

.adress-book-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adress-book-box {
  width: 75%;
  height: 75vh;
  overflow-y: scroll;
  border-top: 14px solid #ef4847;
  background: #f3f3f3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.adress-book-box::-webkit-scrollbar {
  width: 0px;
}

.adress-book-box::-webkit-scrollbar-thumb {
  outline: 0px solid #d9d9d9;
}

.adress-book-box .input-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.adress-book-box .input-container input {
  position: absolute;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  height: 30px;
  width: 60%;
  border: 1px solid #c7c7c7;
  text-indent: 50px;
  /* padding-left: 20px; */
  background: url('../../../assets/icons/loupe.png'), #fff;
  background-repeat: no-repeat;
  background-position-y: 4px;
  background-position-x: 20px;
}

.adress-book-box .select-letter {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.adress-book-box .select-letter div {
  margin-right: 4%;
}

.select-letter div a {
  color: #ef4847;
  text-decoration: none;
  transition: .1s;
  font-weight: bold;
}

.adress-book-box .select-letter div a:hover {
  color: #c9c9c9;
  text-decoration: none;
}

.adress-book-box .cards {
  /* display: flex;
  flex-wrap: wrap; */
  margin-top: 40px;
  /* padding: 0 30px 60px 30px; */
}

.adress-book-box .cards .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .adress-book-box .select-letter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .adress-book-box .cards .row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
